# Assignment: Preparing Data for Analysis (Modified Titanic)

![](https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/%20files/hw.png)

# 1) Load data & review the data

How many rows are there in the "titanic_to_student.csv"?

In [36]:
#Import the libraries
import numpy as np
import pandas as pd

In [37]:
df  = pd.read_csv('/Users/4most/Inclass/DSDE/dsde_problem/assignment2_dataprep/titanic_to_student.csv')
print(df.shape[0])

df.info

445

<bound method DataFrame.info of      Unnamed: 0  PassengerId  Survived  Pclass  \
0             0            2       1.0     1.0
1             1            4       1.0     1.0
2             2            6       0.0     3.0
3             3            8       0.0     3.0
4             4           10       1.0     2.0
..          ...          ...       ...     ...
440         440          882       0.0     3.0
441         441          884       0.0     2.0
442         442          886       0.0     3.0
443         443          888       1.0     1.0
444         444          890       1.0     1.0

                                                  Name     Sex   Age  SibSp  \
0    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
2                                     Moran, Mr. James    male   NaN    0.0
3                       Palsson, Master. Gosta Leonard    male   2.0    3.0
4                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0    1.0
..                                                 ...     ...   ...    ...
440                                 Markun, Mr. Johann    male  33.0    0.0
441                      Banfield, Mr. Frederick James    male  28.0    0.0
442               Rice, Mrs. William (Margaret Norton)  female  39.0    0.0
443                       Graham, Miss. Margaret Edith  female  19.0    0.0
444                              Behr, Mr. Karl Howell    male  26.0    0.0

     Parch            Ticket     Fare Cabin Embarked
0        0          PC 17599  71.2833   C85        C
1        0            113803  53.1000  C123        S
2        0            330877   8.4583   NaN        Q
3        1            349909  21.0750   NaN        S
4        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
440      0            349257   7.8958   NaN        S
441      0  C.A./SOTON 34068  10.5000   NaN        S
442      5            382652  29.1250   NaN        Q
443      0            112053  30.0000   B42        S
444      0            111369  30.0000  C148        C

[445 rows x 13 columns]>

# 2) Drop unqualified variables

Drop unqualified variables

Drop variables with missing > 50%

Drop categorical variables with flat values > 70% (variables with the same value in the same column)

How many columns do we have left?

In [40]:
df.dropna(axis=1, thresh=df.shape[0]*0.5, inplace=True)
df.describe()

,Unnamed: 0,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,445.000000,445.000000,432.000000,414.000000,360.000000,428.000000,445.000000,445.000000
mean,222.000000,446.000000,0.416667,2.265700,29.136361,0.516355,0.379775,34.238473
std,128.604691,257.209383,0.493578,0.853384,14.285739,1.083067,0.795282,52.825157
min,0.000000,2.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,111.000000,224.000000,0.000000,1.000000,20.000000,0.000000,0.000000,7.925000
50%,222.000000,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,15.245800
75%,333.000000,668.000000,1.000000,3.000000,37.250000,1.000000,0.000000,34.375000
max,444.000000,890.000000,1.000000,3.000000,74.000000,8.000000,5.000000,512.329200

# 3) Remove all rows with missing target (the variable "Survived")

Remove all rows with missing targets (the variable "Survived")

How many rows do we have left?

# 4) Handle outliers 
Handle outliers

For the variable “Fare”, replace outlier values with the boundary values

If value < (Q1 - 1.5IQR), replace with (Q1 - 1.5IQR)

If value > (Q3 + 1.5IQR), replace with (Q3 + 1.5IQR)

What is the average (mean) of “Fare” after replacing the outliers (round 2 decimal points)?

Hint: Use function round(_, 2)

# 5) Impute missing value

Impute missing value

For number type column, impute missing values with mean

What is the average (mean) of “Age” after imputing the missing values (round 2 decimal points)?

Hint: Use function round(_, 2)

# 6) Convert categorical to numeric values

Convert categorical to numeric values

For the variable “Embarked”, perform the dummy coding.

What is the average (mean) of “Embarked_Q” after performing dummy coding (round 2 decimal points)?

Hint: Use function round(_, 2)

# 7) Partition data
Split train/test split with stratification using 70%:30% and random seed with 123

Show a proportion between survived (1) and died (0) in all data sets (total data, train, test)

What is the proportion of survivors (survived = 1) in the training data (round 2 decimal points)?

Hint: Use function round(_, 2), and train_test_split() from sklearn.model_selection